<a href="https://colab.research.google.com/github/yadgire7/Machine-Learning/blob/master/Bootstrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Saurabh Arun Yadgire
USC ID: 8065527198
Github ID:yadgire7

Resources:
1. https://pynative.com/python-count-number-of-files-in-a-directory/
2. https://pypi.org/project/bootstrapped/
3. https://ocw.mit.edu/courses/18-05-introduction-to-probability-and-statistics-spring-2014/pages/readings/

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sbn
from sklearn import svm
import os
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as bs_stats

In [ ]:
print('Q.1.a')
frames=[]
dir=r"../Data"
dir_list=os.listdir(dir)
# print(dir_list)
features_df=pd.DataFrame(columns=['mean1','std1','min1','1st Quart(1)','Median(1)','3rd Quart(1)','max1','mean2','std2','min2','1st Quart(2)','Median(2)','3rd Quart(2)','max2','mean3','std3','min3','1st Quart(3)','Median(3)','3rd Quart(3)','max3','mean4','std4','min4','1st Quart(4)','Median(4)','3rd Quart(4)','max4','mean5','std5','min5','1st Quart(5)','Median(5)','3rd Quart(5)','max5','mean6','std6','min6','1st Quart(6)','Median6','3rd Quart(6)','max6'])
def get_n_of_files(folder_name):
    counter = 0
    dir_path=r"../Data/"
    dir_path=dir_path+folder_name
    return len([entry for entry in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, entry))])

def get_instance(dir_list):
    for folder in dir_list:
        n_files= get_n_of_files(folder)
        for i in range(1,n_files+1):
            tempdf = pd.read_csv(r"../Data/"+folder+"/dataset"+str(i)+".csv")
            if len(tempdf.index) !=480:
                tempdf.loc[len(tempdf.index)]=[0,0,0,0,0,0,0]
#             snippet to check dataset with missing value
#             added NaN
#             print(folder+"/dataset"+str(i))
#             print(tempdf.shape)
            ft_df = pd.DataFrame(tempdf.describe())
            ft_df = ft_df.iloc[1:,1:]
            ft_df =ft_df.T
            ft_arr=ft_df.to_numpy().flatten()
            features_df.loc[len(features_df)]=ft_arr
            tempdf.insert(0,'movement',folder)
            frames.append(tempdf)

get_instance(dir_list)
# print(len(frames))
df = pd.concat(frames)
df.reset_index(drop=True,inplace=True)
df.rename(columns={'# Columns: time':'time'})
# print(features_df.shape[0])
# df.tail

Q.1.a

,movement,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,bending1,0,39.25,0.43,22.75,0.43,33.75,1.30
1,bending1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,bending1,500,39.25,0.43,23.25,0.43,33.00,0.00
3,bending1,750,39.50,0.50,23.00,0.71,33.00,0.00
4,bending1,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...,...
42235,walking,118750,34.50,6.18,9.00,3.56,12.67,4.19
42236,walking,119000,25.75,6.02,13.75,2.05,16.00,1.58
42237,walking,119250,31.50,3.35,10.25,5.12,16.25,2.95
42238,walking,119500,33.75,2.77,14.00,3.24,13.75,0.43
42239,walking,119750,37.00,1.41,18.25,3.70,11.00,4.32

In [ ]:
print('\nQ.1.b')
# train_df
test_frames=[]
train_frames=[]
for folder in ['bending1', 'bending2']:
    for i in range(1,3):
            tempdf = pd.read_csv(r"../Data/"+folder+"/dataset"+str(i)+".csv")
            if len(tempdf.index) !=480:
                tempdf.loc[len(tempdf.index)]=[0,0,0,0,0,0,0]
            tempdf.insert(0,'movement',folder)
            test_frames.append(tempdf)
for folder in ['cycling', 'lying', 'sitting', 'standing', 'walking']:
    for i in range(1,4):
            tempdf = pd.read_csv(r"../Data/"+folder+"/dataset"+str(i)+".csv")
            tempdf.insert(0,'movement',folder)
            test_frames.append(tempdf)

# **********************************************

for folder in ['bending1', 'bending2']:
    n_files= get_n_of_files(folder)
    for i in range(3,n_files+1):
        tempdf = pd.read_csv(r"../Data/"+folder+"/dataset"+str(i)+".csv")
        if len(tempdf.index) !=480:
                tempdf.loc[len(tempdf.index)]=[0,0,0,0,0,0,0]
        tempdf.insert(0,'movement',folder)
        train_frames.append(tempdf)

for folder in ['cycling', 'lying', 'sitting', 'standing', 'walking']:
    n_files= get_n_of_files(folder)
    for i in range(3,n_files+1):
        tempdf = pd.read_csv(r"../Data/"+folder+"/dataset"+str(i)+".csv")
        if len(tempdf.index) !=480:
                tempdf.loc[len(tempdf.index)]=[0,0,0,0,0,0,0]
        tempdf.insert(0,'movement',folder)
        test_frames.append(tempdf)
train_df =pd.concat(train_frames)
test_df = pd.concat(test_frames)
train_df.reset_index(drop=True,inplace=True)
train_df.rename(columns={'# Columns: time':'time'})
test_df.reset_index(drop=True,inplace=True)
test_df.rename(columns={'# Columns: time':'time'})

Q.1.b

,movement,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,bending1,0,39.25,0.43,22.75,0.43,33.75,1.30
1,bending1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,bending1,500,39.25,0.43,23.25,0.43,33.00,0.00
3,bending1,750,39.50,0.50,23.00,0.71,33.00,0.00
4,bending1,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...,...
40315,walking,118750,34.50,6.18,9.00,3.56,12.67,4.19
40316,walking,119000,25.75,6.02,13.75,2.05,16.00,1.58
40317,walking,119250,31.50,3.35,10.25,5.12,16.25,2.95
40318,walking,119500,33.75,2.77,14.00,3.24,13.75,0.43
40319,walking,119750,37.00,1.41,18.25,3.70,11.00,4.32

In [ ]:
train_df

,movement,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,bending1,0,42.00,0.71,21.25,0.43,30.00,0.00
1,bending1,250,41.50,0.50,20.25,1.48,31.25,1.09
2,bending1,500,41.50,0.50,14.25,1.92,33.00,0.00
3,bending1,750,40.75,0.83,15.75,0.43,33.00,0.00
4,bending1,1000,40.00,0.71,20.00,2.74,32.75,0.43
...,...,...,...,...,...,...,...,...
4315,bending2,118750,27.00,0.00,14.00,0.00,6.50,0.50
4316,bending2,119000,27.00,0.00,15.00,0.00,4.00,1.00
4317,bending2,119250,27.00,0.00,14.25,0.83,4.00,2.00
4318,bending2,119500,27.00,0.00,13.33,1.25,1.50,0.50
4319,bending2,119750,26.50,0.50,15.00,0.00,3.00,0.00

In [ ]:
test_df

,movement,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,bending1,0,39.25,0.43,22.75,0.43,33.75,1.30
1,bending1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,bending1,500,39.25,0.43,23.25,0.43,33.00,0.00
3,bending1,750,39.50,0.50,23.00,0.71,33.00,0.00
4,bending1,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...,...
40315,walking,118750,34.50,6.18,9.00,3.56,12.67,4.19
40316,walking,119000,25.75,6.02,13.75,2.05,16.00,1.58
40317,walking,119250,31.50,3.35,10.25,5.12,16.25,2.95
40318,walking,119500,33.75,2.77,14.00,3.24,13.75,0.43
40319,walking,119750,37.00,1.41,18.25,3.70,11.00,4.32

In [ ]:
print('Q.1.c.i')

Q.1.c.i

1. Simple features like mean, standard deviation, minimum and maximum values, kurtosis can be used for time-series classification.

2. Various time-series analysis algorithms can also be used:
    a. ARIMA (Auto Regressive Integrated Moving Average)
    b. SARIMA (Seasonal ARIMA) - This considers the seasonal trends in the data.
    c. LSTM (Long Short Term Memory)

# Implement Bootstrap

In [ ]:
print('Q.1.c.ii')
instance_arr= np.arange(1,89,1)
features_df.insert(0,'Instance',instance_arr)
print(features_df.head)

Q.1.c.ii
<bound method NDFrame.head of     Instance      mean1      std1   min1  1st Quart(1)  Median(1)  \
0          1  40.624792  1.476967  37.25         39.25      40.50
1          2  42.812812  1.435550  38.00         42.00      42.50
2          3  43.954500  1.558835  35.00         43.00      44.33
3          4  42.179813  3.670666  33.00         39.15      43.50
4          5  41.678063  2.243490  33.00         41.33      41.75
..       ...        ...       ...    ...           ...        ...
83        84  33.586875  4.650935  19.50         30.25      34.25
84        85  34.322750  4.752477  19.75         31.00      35.25
85        86  34.546229  4.842294  19.50         31.25      35.25
86        87  34.873229  4.531720  23.50         31.75      35.25
87        88  34.473188  4.796705  19.25         31.25      35.00

    3rd Quart(1)   max1     mean2      std2  ...  Median(5)  3rd Quart(5)  \
0        42.0000  45.00  0.358604  0.322605  ...      35.00         36.00
1        43.6700  45.67  0.372438  0.289158  ...      33.00         34.50
2        45.0000  47.40  0.426250  0.338690  ...      36.00         36.50
3        45.0000  47.75  0.696042  0.630860  ...      35.00         36.33
4        42.7500  45.75  0.535979  0.405469  ...      30.00         31.25
..           ...    ...       ...       ...  ...        ...           ...
83       37.0000  45.33  4.576562  2.461077  ...      16.00         18.25
84       38.0000  45.50  4.456333  2.599284  ...      15.75         17.75
85       37.8125  46.00  4.371958  2.360448  ...      15.75         17.75
86       38.2500  46.25  4.380583  2.435437  ...      16.00         18.00
87       38.0000  44.00  4.359312  2.388746  ...      16.00         17.75

     max5     mean6      std6  min6  1st Quart(6)  Median6  3rd Quart(6)  \
0   38.25  0.570583  0.582915  0.00        0.0000     0.43        1.3000
1   38.50  0.571083  0.601010  0.00        0.0000     0.43        1.3000
2   38.50  0.493292  0.513506  0.00        0.0000     0.43        0.9400
3   38.67  0.613521  0.524317  0.00        0.0000     0.50        1.0000
4   37.50  0.383292  0.389164  0.00        0.0000     0.43        0.5000
..    ...       ...       ...   ...           ...      ...           ...
83  25.00  3.259729  1.640243  0.00        2.0500     3.11        4.3225
84  23.25  3.432562  1.732727  0.00        2.1575     3.20        4.5650
85  22.75  3.338125  1.656742  0.00        2.1600     3.08        4.3350
86  23.50  3.424646  1.690960  0.00        2.1700     3.27        4.5000
87  23.25  3.340458  1.699114  0.43        2.1200     3.09        4.3750

     max6
0    1.92
1    3.11
2    1.79
3    2.18
4    1.79
..    ...
83   8.32
84   9.67
85  10.00
86   9.51
87   9.00

[88 rows x 43 columns]>

In [ ]:
print('Q.1.c.iii')
std_arr = pd.DataFrame(features_df.iloc[:,1:].std())
boot_arr=[]
n_boot=500
for i in range(1,len(features_df.columns)):
    boot_arr.append(bs.bootstrap(features_df.iloc[:,i].to_numpy(),stat_func=bs_stats.std))
# print(std_arr)
# print(boot_arr)
std_arr.insert(1,'bootstrap_values',boot_arr)
print(std_arr)

Q.1.c.iii
                     0                                   bootstrap_values
mean1         5.334976  5.304576712339364    (4.64980523256972, 6.0360...
std1          1.760085  1.7500563039648553    (1.533943246439586, 1.98...
min1          9.955581  9.898853739650244    (8.32836244653296, 11.585...
1st Quart(1)  6.153590  6.118526249454473    (5.529363912210858, 6.798...
Median(1)     5.440054  5.409056425357996    (4.746119578140402, 6.164...
3rd Quart(1)  5.138925  5.109642753365407    (4.263669224894093, 6.059...
max1          4.394362  4.36932238296287    (3.3161809003502736, 5.626...
mean2         1.574170  1.565199957842158    (1.410102906738499, 1.782...
std2          0.884104  0.8790661169601129    (0.8127554138317937, 0.9...
min2          0.000000                                  0.0    (0.0, 0.0)
1st Quart(2)  0.946386  0.9409936333203218    (0.8373402150635998, 1.0...
Median(2)     1.412244  1.4041971241720508    (1.2513997872746496, 1.6...
3rd Quart(2)  2.125266  2.1131565277371136    (1.914271796922944, 2.39...
max2          5.062729  5.033881679163113    (4.62943151894349, 5.5523...
mean3         4.008082  3.9852434934305982    (3.412749484669207, 4.69...
std3          0.947032  0.9416357411501909    (0.7329765984250318, 1.1...
min3          2.956462  2.9396159844182215    (2.7572239739255426, 3.1...
1st Quart(3)  4.220001  4.195955311881498    (3.6150677503864532, 4.89...
Median(3)     4.036396  4.013396722341803    (3.427788821315999, 4.737...
3rd Quart(3)  4.171628  4.1478580691355535    (3.5281493633221537, 4.8...
max3          4.875137  4.8473579111726695    (4.138069017522372, 5.68...
mean4         1.166125  1.159480049678946    (1.0952772488561424, 1.26...
std4          0.458245  0.4556337359761579    (0.4234866569524484, 0.4...
min4          0.000000                                  0.0    (0.0, 0.0)
1st Quart(4)  0.843620  0.8388126951078968    (0.7850310182326234, 0.9...
Median(4)     1.145586  1.139058054228987    (1.074466542930199, 1.249...
3rd Quart(4)  1.552504  1.543657928587387    (1.4577576825582863, 1.69...
max4          2.183625  2.171183073234498    (1.960058935961258, 2.408...
mean5         5.675595  5.643255127696293    (4.394881232710913, 7.081...
std5          1.025307  1.0194644071893346    (0.7865832821889145, 1.2...
min5          6.131824  6.0968850094275036    (4.424491131150424, 8.09...
1st Quart(5)  6.096465  6.061727225339022    (4.755596898657188, 7.571...
Median(5)     5.813782  5.780655201421557    (4.48429339344128, 7.2765...
3rd Quart(5)  5.531720  5.500200189394758    (4.3035087471656785, 6.87...
max5          5.741238  5.7085244261061385    (4.728121719426279, 6.87...
mean6         1.154826  1.1482452568816646    (1.0785226727249564, 1.2...
std6          0.517616  0.5146668128431515    (0.4821401135959491, 0.5...
min6          0.045838  0.045576965827593074    (0.013124961748951322,...
1st Quart(6)  0.758584  0.7542613652413971    (0.698070117813923, 0.83...
Median6       1.086474  1.080283538057551    (1.008177709407316, 1.192...
3rd Quart(6)  1.523599  1.514917579004774    (1.4275574199401413, 1.66...
max6          2.518921  2.50456803477282    (2.213112998089693, 2.8153...

In [ ]:
print('Q.1.c.iv')

Q.1.c.iv

Comparing the calculated and bootstraped values,min, mean and max values for all the instances tend to be more accurate than other features, hence these can be considered as the most important time-domain features.

In [ ]:
print('Q.2')

Q.2